.content-transition-enter{
    opacity: 0;
    transform: translate(0,-140px);
}

.content-transition-enter-active{
    transition:all 1s;
    opacity: 1;
    transform: translate(0px,0px);
}

.content-title-transition-enter{
    opacity: 0;
    transform: translate(0,400px);
}

.content-title-transition-enter-active{
    transition:all 1s;
    opacity: 1;
    transform: translate(0,0);
    animation: move 1s;
}

.card-transition-enter-active{
    animation-name: shake;
    animation-duration: 1s;
    animation-delay: .5s;
}

@keyframes shake{
    0%{
        transform:rotate(0);
    }
    33%{
        transform:rotate(30deg);
    }
    66%{
        transform:rotate(-30deg);
    }
    100%{
        transform:rotate(0);
    }
}

@keyframes move{
    from{
        opacity: 0;
        transform: translate(0,400px);
    }
    to{
        opacity: 1;
        transform: translate(0,0) skew(-13deg);
    }
}