.contact-form{
    width: 90%;
    max-width: 720px;
    flex-flow: column nowrap;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact-form label{
    margin: 20px 0;
    font-size:1.4em;
    width: 100%;
}

.contact-form .input-label{
    flex-direction: column;
}

.contact-form input{
    outline: none;
    height: 30px;
    font-size: 1.2em;
    padding: 5px;
}



.contact-form input[type='submit']{
    width:200px;
    height: 50px;
    margin: 20px;
    border-radius: 5px;
    align-self: center;
    font-size:1.5em;
    color: #fff;
    background-color: #d2a113;
    outline: none;
}

.contact-form textarea{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    resize: none;
    height: 170px;
    width: 96%;
    overflow: auto;
    outline:none;
    font-size: 1.3em;
    padding: 7px;
}

.contact-form input:focus,textarea:focus{
    box-shadow: 0 0 3px 1px #d2a113 inset;
}