footer{
    background-color: #363433;
    width: 100%;
    flex-flow: column nowrap;
    color:#80766e;
    justify-content: space-around;
    position: relative;
}

footer>div{
    width: 100%;
    justify-content: center;
    flex-flow: row wrap;
    min-width: 80px;
}

footer>div:first-child{
    border-bottom: 1px solid #80766e;
    cursor: pointer;
}

footer>div>div{
    padding: 20px;
    white-space: nowrap;
    border-radius: 9px;
}

footer>div:first-child>div:hover{
    color: #aa9d94;
}

footer>.iconfont{
    position: absolute;
    right: 5%;
    color: #aa9d94;
    top: 50%;
    font-size:2.5em;
    transform: translateY(-50%);
    display: inline-block;
    cursor: pointer;
    background-color: #363433;
    padding:10px;
    border:1px solid #80766e;
}
