#cover-page > .member-info{
    position: relative;
    cursor: default;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 20px;
    font-weight: 600;
    width: 400px;
    font-size:1.7em;
    background-color: #fff;
    border-radius: 10px;
}
.member-info>div{
    width: 100%;
    margin: 10px 0;
    flex-wrap: wrap;
}

.member-info>div>span{
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.member-info>div:last-child>div{
    padding: 15px 20px;
    margin: 10px;
    background-color: #e9ddb6;
    border-radius: 20px;
}

.member-info>div:last-child>div>span{
    font-size: 1.3em;
    margin-right: 10px;
}

.icon-guanbi{
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.icon-guanbi::before{
    font-size: 1.3em;
    color: #f5c116;
}
