.data-progress{
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
}

.data-progress-area{
    width: 100%;
    height: 20%;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;
}

.data-progress-area>.progress-label{
    position: absolute;
    bottom: 0;
    width:40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #f5c116;
    background-color: #f5c116;
    color: #242424;
    border-radius: 50% 0;
}

.data-progress-area>label{
    color: #040404;
    margin: 15px 0;
}

.data-progress-area>progress{
    width:100%;
    height:6px;
    border-radius: 0;
}

progress::-webkit-progress-bar{
    background-color: #BCBCBC;
}

progress::-webkit-progress-value{
    background-color: #f5c116;
}