.transition-main{
    min-width: 350px;
    height: 400px;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin: 10px 50px;
    flex: 1;
    transition: .5s;
    box-shadow: 0 0 10px #000;
    opacity:0.8;
}

.transition-main:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px #f5c116;
}

.transition-main>h2{
    position: absolute;
    top: 0px;
    font-size: 2em;
    padding: 0;
}

.spotlight{
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.spotlight::before{
    content: attr(data-text);
    /* color: #f5c116; */
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: ellipse(50px 50px at 0% 50%);
    -webkit-clip-path: ellipse(50px 50px at 0% 50%);
    animation: spotlight 4s infinite;
    background: linear-gradient(#f86b1d,#41ae3c);
    background-clip: text;
    -webkit-background-clip: text;
}

.light-hover{
    width: 200px;
    height:60px;
    outline: none;
    justify-content: center;
    font-size: 2em;
    text-transform: uppercase;
    color: #eea2a4;
    cursor: pointer;
    border-bottom: 1.5px solid #eea2a4;
}

.light-hover:hover{
    background-color: #ee2746;
    color: #f0c9cf;
    animation: buttonLight .7s;
    animation-fill-mode : forwards;
    -webkit-animation-fill-mode : forwards ;
    border: 0;
}

.light-button{
    padding: 20px 30px;
    margin: 0;
    display: inline-block;
    outline: none;
    border: none;
    background: linear-gradient(to left,#ed2f6a,#1781b5);
    cursor: pointer;
    font-size: 1.6em;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

.light-button>span{
    position: absolute;
    background: #fff;
    opacity: .3;
    pointer-events: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    animation: zoom 1s linear infinite;
}

@keyframes zoom{
    0%{
        width: 0;
        height: 0;
    }
    100%{
        width: 600px;
        height: 600px;
    }
}

/* 灯光按钮 */
@keyframes buttonLight{
    0%,4%{
        background-color:transparent;
        box-shadow: none;
    }
    5%,9%{
        background-color: #ee2746;
        box-shadow: 0 0 10px #ee2746,0 0px 40px #ee2746,0 0 60px #ed556a;
    }
    10%,19%{
        background-color:transparent;
        box-shadow: none;
    }
    20%,39%{
        background-color: #ee2746;
        box-shadow: 0 0 10px #ee2746,0 0px 40px #ee2746,0 0 60px #ed556a;
    }
    40%,99%{
        background-color:transparent;
        box-shadow: none;
    }
    100%{
        background-color: #ee2746;
        box-shadow: 0 0 10px #ee2746,0 0px 40px #ee2746,0 0 60px #ed556a;
    }
}


/* 灯 */
@keyframes spotlight{
    0%{
        clip-path: ellipse(50px 50px at 0% 50%);
        -webkit-clip-path: ellipse(50px 50px at 0% 50%);
        /* color: #ed2f6a; */
    }
    50%{
        clip-path: ellipse(50px 50px at 50% 50%);
        -webkit-clip-path: ellipse(50px 50px at 100% 50%);
        /* color: #f5c116; */
    }
    100%{
        clip-path: ellipse(50px 50px at 0% 50%);
        -webkit-clip-path: ellipse(50px 50px at 0% 50%);
        /* color: #f86b1d; */
    }
}

.transition-main {
    background-size: cover;
    text-align: center;
}