@import '~antd/dist/antd.css';

.App {
  background-image : url(./components/Images/globe.gif);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white {
  background-image : url(./components/Images/white.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.black {
  background-image : url(./components/Images/black.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  margin-right: auto;
  margin-left: auto;
  min-height: 800px;
}

.service{
  margin-top: 50px;
  width:30%;
  min-width: 300px;
}

.logo{
  width:20%;
  height: 100%;
}

.mt{
  margin-top: 20px;
}

.mb{
  margin-bottom: 100px;
}

.service_cards_col{
  margin-top:100px;
}

.card{
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}