body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

div{
  display: flex;
  align-items: center;
}

#root{
  position: relative;
}

#cover-page{
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 50;
}

a{
  text-decoration: none;
}
