@import url('../components/member.css');

.main{
    width: 100%;
    flex-direction: column;
}

header{
    position: absolute;
    top:0;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}

.header-tag{
    min-width: 500px;
    flex-flow: row nowrap;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: bold;
    color: #f5c116;
    opacity: .8;
    cursor: pointer;
    position: relative;
}

.header-tag>div{
    padding: 0 20px;
    white-space: nowrap;
}

.header-tag>.icon-caidan{
    font-size: 1.6em;
    margin: 0 20px;
    color: #f5c116;
}

.header-tag .tag-list{
    position: absolute;
    flex-flow: column nowrap;
    top: 56px;
    width: 160px;
    right:5px;
    padding: 0;
    background-color: #ffffff;
    color:#f5c116;
    transition: .5s;
    transform-origin: right top;
}

.tag-list > div{
    width: 100%;
    height: 46px;
    justify-content: center;
    transition: .5s;
}

.tag-list:hover div{
    filter: blur(1px);
}

.tag-list > div:hover{
    transform: scale(1.3);
    background-color: #f5c116;
    color:#fff;
    filter: blur(0);
}

.header-tag>div:hover{
    color:#ffffff;
}

header > img{
    height:67px;
    position: absolute;
    top:5px;
    left:5px;
}

.container{
    position: relative;
    width: 100%;
    min-width: 375px;
    min-height: 680px;
    padding:20px 0;
    flex-flow: column wrap;
    justify-content: flex-start;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.container-dark{
    background-color: #242424;
    color: white;
}

.container-dark>h1{
    color: #fffef9;
}

.container-light{
    background-color: #F3F3F4;
    color: #242424;
}

.global-img{
    width:100%;
    height:600px;
}

.container>h1{
    margin: 70px 30px;
    display: flex;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 5px;
    font-weight: 900;
    white-space: nowrap;
    position: relative;
    transform: skew(-13deg);
    justify-content: center;
}

#pageHero{
    margin-top: 100px;
    width: 100%;
    text-align: center;
    color: rgb(243, 243, 243);
    font-size: 30pt;
}
@media screen and (max-width:450px){
    .container>h1{
        font-size: 1.8em;
    }
}

.container>h1::after{
    content:attr(title-text);
    position: absolute;
    color: #cdd1d3;
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-48%,-44%);
}

.container>h1::before{
    content:attr(title-text);
    position: absolute;
    color: #d2a113;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-49%,-47%);
}

.column-layout{
    display: flex;
    margin-top: 40px;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.column-layout>.column{
    min-width: 300px;
    margin: 10px 50px;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column>button>img{
    width:360px;
    height:220px;
    text-align: center;
}

.column>button>img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px #f5c116;
}

.portfolio{
    background-color: transparent;
    border:none;
}

.column>span{
    font-size: 30px;
    font-weight: bolder;
}

p{
    font-size:1.1em;

}

.team-area{
    width: 100%;
    justify-content: flex-start;
    display:flex;
    flex-wrap: wrap;
}

.team-area>div{
    flex: 1;
    justify-content: center;
    max-width: 180px;
    padding: 10px 0;
    margin: 15px;
    background-color: #f5c116;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 20px 0 20px 0;
    cursor: pointer;
    box-shadow: inset 0 0 3px 2px #b99211;
    transition: .3s;
}

.team-area span{
    font-size:2em;
    color: #444444;
}

.team-area span:first-child{
    transform: rotate(180deg);
}

.team-area>div:hover{
    animation: jump .3s;
}

@keyframes jump{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-10px);
    }
    100%{
        transform:translateY(0);
    }
}

h2 {
    text-align: center;
}
